body {
  background: #f2f2f2; }

header {
  overflow: hidden; }

.main-banner-col {
  padding: 0;
  position: relative; }
  .main-banner-col::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5; }
  .main-banner-col__data {
    position: absolute;
    top: 60%;
    left: 87%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-banner-col__title {
    color: #007bff;
    font-family: 'Merienda One', cursive;
    font-size: 30px; }
  .main-banner-col__subtitle, .main-banner-col__description {
    color: #fff; }

.principal {
  background: #fff; }

.main-main {
  padding-left: 0;
  padding-right: 0; }
  .main-main__article {
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    padding: 10px;
    margin: 5px; }
  .main-main__title {
    color: #003366;
    font-size: 18px; }
  .main-main__description {
    color: #666666;
    text-align: justify;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 12px; }

.accordion {
  margin: 5px 4px 5px; }

.main-menu {
  padding: 0; }
  .main-menu__card {
    padding: 0;
    margin-bottom: 3px; }
  .main-menu__link {
    margin-bottom: 3px; }
  .main-menu__button {
    width: 100%;
    border: 1px solid #BABABA;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), to(#A8A8A8)) no-repeat;
    background: -webkit-linear-gradient(top, #FFFFFF 0, #A8A8A8 100%) no-repeat;
    background: -o-linear-gradient(top, #FFFFFF 0, #A8A8A8 100%) no-repeat;
    background: linear-gradient(top, #FFFFFF 0, #A8A8A8 100%) no-repeat;
    height: 30px;
    color: #003366;
    text-align: initial;
    line-height: 1em; }
    .main-menu__button:hover {
      border: 1px solid #BABABA;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #005CB8), to(#00080F)) no-repeat;
      background: -webkit-linear-gradient(top, #005CB8 0, #00080F 100%) no-repeat;
      background: -o-linear-gradient(top, #005CB8 0, #00080F 100%) no-repeat;
      background: linear-gradient(top, #005CB8 0, #00080F 100%) no-repeat;
      color: #fff;
      text-decoration: none; }
  .main-menu__cb {
    padding: 0; }
    .main-menu__cba {
      border: 1px solid red; }
  .main-menu__sublink {
    text-align: left;
    font-size: 12px; }

.card {
  border: none; }

.container {
  -webkit-box-shadow: 1px 1px 10px grey;
  box-shadow: 1px 1px 10px grey; }

@media (min-width: 1200px) {
  .container {
    max-width: 980px; } }

.main-footer {
  background: #003366;
  text-align: center;
  color: #fff;
  min-height: 50px; }
