
.presentation2{
    width: 100%;
    //height: 800px;
    // background: rgb(233, 173, 173);
    //clip-path: polygon(0 0,100% 0,100% 100%,0 94%);
    clip-path: polygon(0% 10%, 100% 20%, 100% 100%, 0% 100%);
    // padding-left: 0;
    // padding-right: 0;
    padding: 100px 20px 0;
    position: relative;    
    margin-top: -78px;
}

